<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/scripts/jquery-3.5.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/assets/styles/rtw.css">
    <title>READY TO WEAR</title>
</head>

<body>
    <div class="menu">
        <div class="account">
            <a href="/"> <img src="" alt="image here" id="home-btn"></a>
            <div class="search">
                <input type="text" id="search-bar">
                <button class="search-btn">SEARCH</button>
            </div>
            <div class="sign-in">
                <p id="user">Hello, </p>
                <p id="userpage-btn" title="Click to see Account Settings">USER ACCOUNT</p>
            </div>
            <div class="cart">
                <a href=""id="cart-image" alt="" title="CLICK TO SEE YOUR CART"></a>
                <a href=""class="items-count">0</a>
                <a href=""class="cart-name">CART</a>
            </div>
        </div>
        <div class="top-nav">
            <a href="/orderpage" style="left: 10%;">Order Page</a>
            <a href="/orderpage/computer_parts" style="left: 25%;">Computer Parts</a>
            <a href="/orderpage/ready_to_wear" style="left: 40%;">Ready to Wear</a>
            <a href="/orderpage/hand_tools" style="left: 55%;">Hand Tools</a>
            <a href="/orderpage/gadgets" style="left: 65%;">Gadgets</a>
            <a href="/orderpage/appliances" style="left: 75%;">Appliances</a>
        </div>
        <div class="options" id="options">
            <a href="" class="topdiv-buttons" style="left: 10%;">Men</a>
            <a href="" class="topdiv-buttons" style="left: 27.5%;">Women</a>
            <a href="" class="topdiv-buttons" style="left: 45%;">Kids</a>
            <a href="" class="topdiv-buttons" style="left: 62.5%;">Trends</a>
            <a href="" class="topdiv-buttons" style="left: 80%;">Classics</a>
        </div>
    </div>
    <div class="main-divs">
        <div class="wears" id="shirts">
            <img src="/assets/pictures/rtw-tshirt.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="">SHIRTS</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
        <div class="wears" id="shorts">
            <img src="/assets/pictures/rtw-shorts.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="" style="top: 80%;">SHORTS</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
        <div class="wears" id="pants">
            <img src="/assets/pictures/rtw-pants.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="" style="top: 80%;">PANTS</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
        <div class="wears" id="sleeves">
            <img src="/assets/pictures/rtw-sleeveless.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="">SLEEVELESS</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
        <div class="wears" id="footwears">
            <img src="/assets/pictures/rtw-footwears.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="" style="top: 80%;">FOOTWEAR</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
        <div class="wears" id="sports">
            <img src="/assets/pictures/rtw-sportswear.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="" style="top: 80%;">SPORTS</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
        <div class="wears" id="swimsuits">
            <img src="/assets/pictures/rtw-swimsuits.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="" style="top: 80%;">SWIMSUITS</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
        <div class="wears" id="underwears">
            <img src="/assets/pictures/rtw-underwears.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="" style="top: 80%;">UNDERWEARS</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
        <div class="wears" id="shoes">
            <img src="/assets/pictures/rtw-shoes.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="" style="top: 80%;">SHOES</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
        <div class="wears" id="headwears">
            <img src="/assets/pictures/rtw-headwears.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="" style="top: 80%;">HEADWEARS</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
        <div class="wears" id="others">
            <img src="/assets/pictures/rtw-others.png" alt="" class="rtwmaindivs-images" id="">
            <p class="rtwmaindivs-titles" id="" style="top: 80%;">OTHERS</p>
            <p class="rtwmaindivs-shop" id="">SHOP NOW -></p>
        </div>
    </div>
</body>

</html>