@media screen and (min-width: 1920px) {
  * {
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: none;
  }

  body {
    height: 2000px;
  }

  /* START OF ACCOUNT DIV */

  .menu {
    position: fixed;
    top: 0;
    height: 200px;
    left: 0;
    width: 100%;
    background: linear-gradient(rgb(0, 0, 0, 0.9), rgb(255, 255, 255, 0.1));
    z-index: 1;
  }

  .account {
    position: absolute;
    top: 0;
    height: 100px;
    left: 0;
    width: 100%;
  }

  .account #home-btn {
    position: absolute;
    top: 15px;
    left: 2.5%;
    height: 70px;
    width: 70px;
    background: red;
  }

  .account .search {
    position: absolute;
    left: 15%;
    top: 0%;
    height: 100%;
    width: 85%;
  }

  .account .search #menu {
    position: absolute;
    top: 30px;
    height: 30px;
    left: 0;
    width: 150px;
    outline: none;
    border: none;
    padding-left: 0.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 15px;
  }

  .account .search #search-bar {
    position: absolute;
    top: 20px;
    height: 30px;
    left: 157px;
    width: 500px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px rgb(161, 161, 161) solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 15px;
    padding-left: 50px;
    color: white;
    transition: 0.5s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .account .search #search-bar:hover {
    border-bottom: 1.5px rgb(255, 255, 255) solid;
    background-color: rgb(139, 139, 139, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .account .search .search-btn {
    position: absolute;
    top: 20px;
    left: 720px;
    height: 30px;
    width: 100px;
    border: 1px white solid;
    background: none;
    border-radius: 2.5px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
  }

  .account .search .search-btn:hover {
    border: 1.5px white solid;
    color: rgb(114, 114, 114);
  }

  .account .sign-in {
    position: absolute;
    left: 80%;
    width: 10%;
    top: 0;
    height: 100%;
  }

  .account .sign-in p {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
  }

  .account .sign-in #user {
    font-size: 10px;
    top: 15%;
  }

  .account .sign-in #userpage-btn {
    font-size: 15px;
    top: 30%;
  }

  .account .cart {
    position: absolute;
    left: 90%;
    width: 10%;
    top: 0%;
    height: 100%;
  }

  .account .cart #cart-image {
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    background: url("/assets/pictures/cart-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .account .cart #cart-image:hover {
    background: url("/assets/pictures/cart-image2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .account .cart .items-count {
    position: absolute;
    top: 20%;
    left: 52.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: yellow;
    text-decoration: none;
  }

  .account .cart .cart-name {
    position: absolute;
    top: 30%;
    left: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: rgb(216, 216, 216);
    text-decoration: none;
  }

  .top-nav {
    position: absolute;
    top: 100px;
    height: 40px;
    left: 0%;
    width: 100%;
  }

  .top-nav a {
    position: absolute;
    text-decoration: none;
    top: 0%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: rgb(36, 36, 36);
    transition: 0.5s;
  }

  .top-nav a:hover {
    cursor: pointer;
    color: white;
    text-shadow: 0 0 5px blue;
    text-shadow: 0 0 5px blue;
  }

  .options {
    position: absolute;
    top: 140px;
    height: 60px;
    left: 0;
    width: 100%;
  }

  .options a.topdiv-buttons {
    position: absolute;
    top: 20%;
    color: gray;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }

  a.topdiv-buttons:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: gray;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  a.topdiv-buttons:hover:after {
    width: 100%;
    left: 0;
  }

  /* START OF THE MAIN DIV DESIGN */

  .main-divs {
    position: absolute;
    top: 200px;
    height: 1800px;
    left: 0.1%;
    width: 99.8%;
  }

  .main-divs .wears {
    position: absolute;
    background: rgb(214, 214, 214);
  }

  .main-divs .wears .rtwmaindivs-images {
    position: absolute;
    top: 5%;
    height: 75%;
    left: 5%;
    width: 90%;
  }

  .main-divs .wears .rtwmaindivs-titles {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: rgb(24, 24, 24);
    cursor: default;
  }

  .main-divs .wears .rtwmaindivs-shop {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: rgb(24, 24, 24);
    transition: 0.5s;
    cursor: pointer;
  }

  .main-divs .wears .rtwmaindivs-shop:hover {
    color: white;
  }

  .main-divs .wears .rtwmaindivs-images {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 80%;
  }

  .main-divs #shorts .rtwmaindivs-images,
  .main-divs #pants .rtwmaindivs-images,
  .main-divs #footwears .rtwmaindivs-images {
    top: 0;
  }

  .main-divs #others .rtwmaindivs-images {
    width: 95%;
  }

  .main-divs #shirts {
    top: 0;
    height: 698.5px;
    left: 0;
    width: 49.9%;
  }

  .main-divs #headwears {
    top: 0;
    height: 398.5px;
    left: 50.1%;
    width: 49.75%;
  }

  .main-divs #sleeves {
    top: 401.5px;
    height: 698.5px;
    left: 50.1%;
    width: 49.75%;
  }

  .main-divs #shorts {
    top: 701.5px;
    height: 398.5px;
    left: 0;
    width: 24.85%;
  }

  .main-divs #pants {
    top: 701.5px;
    height: 398.5px;
    left: 25.05%;
    width: 24.85%;
  }

  .main-divs #underwears {
    top: 1101.5px;
    height: 298.5px;
    left: 0;
    width: 33.23%;
  }

  .main-divs #swimsuits {
    top: 1101.5px;
    height: 298.5px;
    left: 33.43%;
    width: 33.23%;
  }

  .main-divs #shoes {
    top: 1101.5px;
    height: 298.5px;
    left: 66.83%;
    width: 33.23%;
  }

  .main-divs #footwears {
    top: 1401.5px;
    height: 398.5px;
    left: 0;
    width: 33.23%;
  }

  .main-divs #sports {
    top: 1401.5px;
    height: 398.5px;
    left: 33.43%;
    width: 33.23%;
  }

  .main-divs #others {
    top: 1401.5px;
    height: 398.5px;
    left: 66.83%;
    width: 33.23%;
  }
}
